oauthlib-sessionhandler @ git+https://github.com/MHx-Operations/oauthlib-sessionhandler.git@8003354b8ff7dde7e0f454e84b154f2930b3e6cd
appengine-python-standard~=1.1
gql~=3.4
oauthlib~=3.2
pandas>=2.0
python-json-logger~=2.0
requests-oauthlib~=1.3
requests-toolbelt~=0.10
webcolors~=1.3
Deprecated~=1.2
pydantic~=2.6