"""
    Landscape omnikeeper REST API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: v1
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from okclient.api_client import ApiClient, Endpoint as _Endpoint
from okclient.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)


class ActiveDirectoryXMLIngestApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __ingest_xml(
            self,
            version,
            write_layer_id,
            search_layer_ids,
            files,
            **kwargs
        ):
            """ingest_xml  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.ingest_xml(version, write_layer_id, search_layer_ids, files, async_req=True)
            >>> result = thread.get()

            Args:
                version (str):
                write_layer_id (int):
                search_layer_ids ([int]):
                files ([file_type]):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                None
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['version'] = \
                version
            kwargs['write_layer_id'] = \
                write_layer_id
            kwargs['search_layer_ids'] = \
                search_layer_ids
            kwargs['files'] = \
                files
            return self.call_with_http_info(**kwargs)

        self.ingest_xml = _Endpoint(
            settings={
                'response_type': None,
                'auth': [
                    'oauth2',
                    'oauth2'
                ],
                'endpoint_path': '/api/v{version}/Ingest/AD-XML',
                'operation_id': 'ingest_xml',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'version',
                    'write_layer_id',
                    'search_layer_ids',
                    'files',
                ],
                'required': [
                    'version',
                    'write_layer_id',
                    'search_layer_ids',
                    'files',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'version':
                        (str,),
                    'write_layer_id':
                        (int,),
                    'search_layer_ids':
                        ([int],),
                    'files':
                        ([file_type],),
                },
                'attribute_map': {
                    'version': 'version',
                    'write_layer_id': 'writeLayerID',
                    'search_layer_ids': 'searchLayerIDs',
                    'files': 'files',
                },
                'location_map': {
                    'version': 'path',
                    'write_layer_id': 'form',
                    'search_layer_ids': 'form',
                    'files': 'form',
                },
                'collection_format_map': {
                    'search_layer_ids': 'csv',
                    'files': 'csv',
                }
            },
            headers_map={
                'accept': [],
                'content_type': [
                    'multipart/form-data'
                ]
            },
            api_client=api_client,
            callable=__ingest_xml
        )
