"""
    Landscape omnikeeper REST API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: v1
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from okclient.api_client import ApiClient, Endpoint as _Endpoint
from okclient.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from okclient.model.ansible_inventory_scan_dto import AnsibleInventoryScanDTO


class AnsibleInventoryScanIngestApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.ingest_ansible_inventory_scan_endpoint = _Endpoint(
            settings={
                'response_type': None,
                'auth': [
                    'oauth2',
                    'oauth2'
                ],
                'endpoint_path': '/api/v{version}/Ingest/AnsibleInventoryScan',
                'operation_id': 'ingest_ansible_inventory_scan',
                'http_method': 'POST',
                'servers': None,
            },
            params_map={
                'all': [
                    'write_layer_id',
                    'search_layer_ids',
                    'version',
                    'ansible_inventory_scan_dto',
                ],
                'required': [
                    'write_layer_id',
                    'search_layer_ids',
                    'version',
                    'ansible_inventory_scan_dto',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'write_layer_id':
                        (str,),
                    'search_layer_ids':
                        ([str],),
                    'version':
                        (str,),
                    'ansible_inventory_scan_dto':
                        (AnsibleInventoryScanDTO,),
                },
                'attribute_map': {
                    'write_layer_id': 'writeLayerID',
                    'search_layer_ids': 'searchLayerIDs',
                    'version': 'version',
                },
                'location_map': {
                    'write_layer_id': 'query',
                    'search_layer_ids': 'query',
                    'version': 'path',
                    'ansible_inventory_scan_dto': 'body',
                },
                'collection_format_map': {
                    'search_layer_ids': 'multi',
                }
            },
            headers_map={
                'accept': [],
                'content_type': [
                    'application/json;odata.metadata=minimal;odata.streaming=true',
                    'application/json;odata.metadata=minimal;odata.streaming=false',
                    'application/json;odata.metadata=minimal',
                    'application/json;odata.metadata=full;odata.streaming=true',
                    'application/json;odata.metadata=full;odata.streaming=false',
                    'application/json;odata.metadata=full',
                    'application/json;odata.metadata=none;odata.streaming=true',
                    'application/json;odata.metadata=none;odata.streaming=false',
                    'application/json;odata.metadata=none',
                    'application/json;odata.streaming=true',
                    'application/json;odata.streaming=false',
                    'application/json',
                    'application/xml',
                    'application/odata',
                    'application/json-patch+json',
                    'text/json',
                    'application/*+json'
                ]
            },
            api_client=api_client
        )

    def ingest_ansible_inventory_scan(
        self,
        write_layer_id,
        search_layer_ids,
        version,
        ansible_inventory_scan_dto,
        **kwargs
    ):
        """ingest_ansible_inventory_scan  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.ingest_ansible_inventory_scan(write_layer_id, search_layer_ids, version, ansible_inventory_scan_dto, async_req=True)
        >>> result = thread.get()

        Args:
            write_layer_id (str):
            search_layer_ids ([str]):
            version (str):
            ansible_inventory_scan_dto (AnsibleInventoryScanDTO):

        Keyword Args:
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            None
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['write_layer_id'] = \
            write_layer_id
        kwargs['search_layer_ids'] = \
            search_layer_ids
        kwargs['version'] = \
            version
        kwargs['ansible_inventory_scan_dto'] = \
            ansible_inventory_scan_dto
        return self.ingest_ansible_inventory_scan_endpoint.call_with_http_info(**kwargs)

