"""
    Landscape omnikeeper REST API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: v1
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from okclient.api_client import ApiClient, Endpoint as _Endpoint
from okclient.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from okclient.model.effective_trait_dto import EffectiveTraitDTO


class TraitApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __get_effective_traits_for_trait_name(
            self,
            layer_ids,
            trait_name,
            version,
            **kwargs
        ):
            """get_effective_traits_for_trait_name  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.get_effective_traits_for_trait_name(layer_ids, trait_name, version, async_req=True)
            >>> result = thread.get()

            Args:
                layer_ids ([int]):
                trait_name (str):
                version (str):

            Keyword Args:
                at_time (datetime): [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                {str: (EffectiveTraitDTO,)}
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['layer_ids'] = \
                layer_ids
            kwargs['trait_name'] = \
                trait_name
            kwargs['version'] = \
                version
            return self.call_with_http_info(**kwargs)

        self.get_effective_traits_for_trait_name = _Endpoint(
            settings={
                'response_type': ({str: (EffectiveTraitDTO,)},),
                'auth': [
                    'oauth2',
                    'oauth2'
                ],
                'endpoint_path': '/api/v{version}/Trait/getEffectiveTraitsForTraitName',
                'operation_id': 'get_effective_traits_for_trait_name',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'layer_ids',
                    'trait_name',
                    'version',
                    'at_time',
                ],
                'required': [
                    'layer_ids',
                    'trait_name',
                    'version',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'layer_ids':
                        ([int],),
                    'trait_name':
                        (str,),
                    'version':
                        (str,),
                    'at_time':
                        (datetime,),
                },
                'attribute_map': {
                    'layer_ids': 'layerIDs',
                    'trait_name': 'traitName',
                    'version': 'version',
                    'at_time': 'atTime',
                },
                'location_map': {
                    'layer_ids': 'query',
                    'trait_name': 'query',
                    'version': 'path',
                    'at_time': 'query',
                },
                'collection_format_map': {
                    'layer_ids': 'multi',
                }
            },
            headers_map={
                'accept': [
                    'application/json;odata.metadata=minimal;odata.streaming=true',
                    'application/json;odata.metadata=minimal;odata.streaming=false',
                    'application/json;odata.metadata=minimal',
                    'application/json;odata.metadata=full;odata.streaming=true',
                    'application/json;odata.metadata=full;odata.streaming=false',
                    'application/json;odata.metadata=full',
                    'application/json;odata.metadata=none;odata.streaming=true',
                    'application/json;odata.metadata=none;odata.streaming=false',
                    'application/json;odata.metadata=none',
                    'application/json;odata.streaming=true',
                    'application/json;odata.streaming=false',
                    'application/json',
                    'application/xml',
                    'application/odata',
                    'text/plain',
                    'text/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__get_effective_traits_for_trait_name
        )
